<h2>Log into your University Movers Account</h2>
<p>Fill in your information below</p>

<hr/>

<%= form_tag session_path, :method => :post do %>

  <div class="span6">

    <%= text_field_tag :email, params[:email], placeholder: "E-mail Address", class: "input-block-level" %>
    <%= password_field_tag :password, '', placeholder: "Password", class: "input-block-level" %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>

    <div class="form-actions">
      <%= submit_tag 'Login', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>