<h2>Book your move!</h2>

<%= form_for @booking do |f| %>

  <%= render 'shared/forms_errors', :f => f %>
  <div class="field", id="movedate">
    <%= f.label :move_date %>
    <br>
    <%= f.text_field :starts_at, placeholder: "When would you like to move?", :value => (@booking.starts_at.blank? ? '' : @booking.starts_at.strftime('%m/%d/%Y')), class: "input-block-level", id: "datepicker" %>
  <div class="field">
    <%= label_tag :current_address %>
    <br>
    <%= text_field_tag "origin[street_address]", nil, placeholder: "eg. 374 Stephen St.", class: "input-block-level" %>
    <br>
    <%= label_tag :current_city %>
    <br>
    <%= text_field_tag "origin[city]", nil, placeholder: "London", class: "input-block-level" %>
    <br>
    <%= label_tag :postal_code %>
    <br>
    <%= text_field_tag "origin[postal_code]", nil, placeholder: "N6K 3V8", class: "input-block-level" %>
  </div>

  <div class="field">
    <%= label_tag :destination_address %>
    <br>
    <%= text_field_tag "destination[street_address]", nil, placeholder: "eg. 30 Grand Trunk Cres.", class: "input-block-level" %>
    <br>
    <%= label_tag :destination_city %>
    <br>
    <%= text_field_tag "destination[city]", nil, placeholder: "Toronto", class: "input-block-level" %>
    <br>
    <%= label_tag :postal_code %>
    <br>
    <%= text_field_tag "destination[postal_code]", nil, placeholder: "M5V 9T7", class: "input-block-level" %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Book Now!', :class => 'btn' %>
  </div>

<% end %>