<h1>Book your move!</h1>

<%= form_for @booking do |f| %>

  <%= render 'shared/forms_errors', :f => f %>

  <%= f.text_field :starts_at, placeholder: "Start Date", class: "input-block-level" %>
  <%= f.text_field :ends_at, placeholder: "End Date", class: "input-block-level" %>

  <p>
    <%= f.fields_for :origin do |address_fields| %>
      <%= address_fields.text_field :street_address, placeholder: "Current Street Address", class: "input-block-level" %>
      <%= address_fields.text_field :city, placeholder: "Current City", class: "input-block-level" %>
      <%= address_fields.text_field :postal_code, placeholder: "Postal Code", class: "input-block-level" %>
    <% end %>
  </p>

  <p>
    <%= f.fields_for :destination do |address_fields| %>
      <%= address_fields.text_field :street_address, placeholder: "Destination Street Address", class: "input-block-level" %>
      <%= address_fields.text_field :city, placeholder: "Destination City", class: "input-block-level" %>
      <%= address_fields.text_field :postal_code, placeholder: "Postal Code", class: "input-block-level" %>
    <% end %>
  </p>
  <div class="form-actions">
    <%= f.submit 'Book Now!', :class => 'btn' %>
  </div>

<% end %>