<h1>Book your move!</h1>

<%= form_for [@booking] do |f| %>

		<%= render 'shared/forms_errors', :f => f %>

		<%= f.text_field :start_time, placeholder: "Start Date", class: "input-block-level" %>
		<%= f.text_field :end_time, placeholder: "End Date", class: "input-block-level" %>

		<%= f.text_field :street_address, placeholder: "Current Street Address", class: "input-block-level" %>
		<%= f.text_field :city, placeholder: "Current City", class: "input-block-level" %>
		<%= f.text_field :postal_code, placeholder: "Postal Code", class: "input-block-level" %>

		<div class="form-actions">
			<%= f.submit 'Book Now', :class => 'btn' %>
		</div>

	<% end %>